@import 'tailwindcss';

<<<<<<< HEAD
/* @font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 100; 
    font-style: normal;
} */
 html,
body,
#root {
  height: 100%;
=======
/* Light (300) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
} 

/* Regular (400) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html, body {
  font-family: 'NanumSquareRound', sans-serif;
  line-height: 1.5;
}

h1 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}
.small-text {
  font-weight: 300;
>>>>>>> 8d33f36443e46c7509933a1b7ae41ec43d28c58f
}