@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Light (300) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundL.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Regular (400) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundR.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold (700) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundB.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'NanumSquareRound';
  src: url('/fonts/NanumSquareRoundEB.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'NanumSquareRound', sans-serif;
  line-height: 1.5;
}

#root {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 800;
}
h2 {
  font-weight: 700;
}
.small-text {
  font-weight: 300;
}

/* 스크롤바 숨기기 */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


@keyframes fade-in {
  0% { opacity: 0; transform: translateY(10px); }
  20% { opacity: 1; transform: translateY(0); }
  80% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(10px); }
}

.animate-fade-in {
  animation: fade-in 2s ease-in-out forwards;
}
